@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-3">
    <div class="row">
        @for (int i = 0; i < 10; i++)
        {
            <div class="col-4">
                <div class="card border-secondary mb-3" style="max-width: 20rem;">
                    <div class="card-header text-success"><b>30 000 руб.</b></div>

                    <img class="card-img" src="https://picsum.photos/200/200?random=@(i)" alt="Alternate Text" />

                    <div class="card-body">
                        <h4 class="card-title">Secondary card title</h4>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>