
<div class="container">

    <div class="row">
        <div class="col-8">
            <div class="row">

                <div class="col-12 mb-3">
                    <ul class="list-group">
                        <li class="list-group-item">
                            30 000 With supporting
                        </li>
                    </ul>
                </div>

                <div class="col-4">
                    <ul class="list-group">
                        <li class="list-group-item">
                            With supporting text below as a natural lead-in to additional content.
                        </li>
                    </ul>
                </div>
                <div class="col-8">
                    <div class="card">
                        <img src="https://picsum.photos/500/500?random=1" class="card-img-top" alt="...">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <img src="https://picsum.photos/300/300?random=1" class="mb-3" alt="...">
            <img src="https://picsum.photos/300/300?random=2" class="mb-3" alt="...">
        </div>
    </div>


</div>

